<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Matchuax"
        tools:targetApi="31">
        <activity
            android:name=".Ubicacion"
            android:exported="false" />
        <activity
            android:name=".Registro_de_sesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Quienes_somos"
            android:exported="false" />
        <activity
            android:name=".Perfil_de_las_personas"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Megamatch"
            android:exported="false" />
        <activity
            android:name=".Match"
            android:exported="false" />
        <activity
            android:name=".Logo_cargando"
            android:exported="false" />
        <activity
            android:name=".Inicio_de_sesion"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Conversaciones"
            android:exported="false" />
        <activity
            android:name=".Chats"
            android:exported="false" />
        <activity
            android:name=".Ajustes_de_perfil"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
    </application>

</manifest>